DB_HOST=localhost
DB_USER=root
DB_HOST_PASSWORD=root
DB_NAME=furniture_store
DB_PORT=4300
JWT_SECRET=Yagnesh@123
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret